.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .image-container {
    margin-top: 5px;
  }
  
  .brand-image {
    width: 100%;
    max-width: 400px;
    height: 350px;
    margin-bottom: 0px;
  }
  .image-container p {
    text-transform: uppercase;
    font-weight:lighter;
    font-size: medium;
    font-family:'Arial Narrow Bold';
  }
  